*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}
.app
{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.app-time , .app-play , .app-music
{
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.app-play
{
    position: relative;
}
.app-play svg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(-90deg);
    height: 50%;
    pointer-events: none;
}
.app-time button ,
.app-music button
{
 color: #fff;
 background: none;
 width: 30%;
 height: 10%;
 border: 2px solid #fff;
 font-size: 20px;
 border-radius: 5px;
 cursor: pointer;
 transition: all 1s ease;
}
.app-time button
{
    width: 40%;
}
.app-time button:hover
{
    color: #000;
    background-color: #fff;
}
.app-music button
{
  border: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 20px;
}
.app-music button img
{
    height: 100%;
}
.app-music button:nth-child(1){
    background: #4972a1;
}
.app-music button:nth-child(2){
   background: #a14f49;
}
.app-music button:nth-child(3){
   background: #008080; 
   padding: 15px;
}
.app-music button:nth-child(4){
   background:  #900C3F;
   padding: 5px;
}
.time-display
{
    position: absolute;
    bottom: 10%;
    color: #fff;
    font-size: 50px;
}

video
{
    position: fixed;
    top: 0%;
    left: 0%;
    background-size: 100% 100%;
    width: 100%;
    z-index: -10;
}
.play
{
    cursor: pointer;
}